/* src/styles/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0d0d0d;
  color: #f5f5f5;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #ab5dcc;
 
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  cursor: pointer;
}

.movie-card {
  background: #1a1a1a;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
   text-decoration: none;
  
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-title {
  margin-top: 10px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    padding: 5px;
    border-radius:5px ;
    border: blue;
    background-color: rgb(13, 13, 14);
    color: white;
}
